.events-section{
  background-color: transparent;
}

#events .divider {
  font-size: 22px;
  color: var(--light-grey);
  padding-bottom: 10px;
}

.sel-p, .sel-r {
  margin-bottom: 0 !important;
}


.selector-rp h4{
    color: var(--light-grey);
    font-family: var(--semibold-font);
    letter-spacing: 7px;
    font-size: 20px;
    text-decoration: none;
    text-transform: none;
  }

.selector-rp:hover{
  cursor: pointer !important;
}

  .selector-rp h4.event-active {
    color: black;
  }

  /*Estilos para el contenido de los eventos*/

  .recent-events,
  .upcoming-events {
    margin-top: 30px;
  }

  .event {
    margin-bottom: 40px;
    font-family: var(--main-font);
  }

  .event:hover {
    cursor: pointer;
  }

  /*Colores por defecto*/

  .event h4 {
    color: #D1D1D1;
    font-family: var(--main-font);
    font-size: 30px;
  }

  .event p{
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #D1D1D1;
  }

  /*Añadiendo clase active*/

  .event-active h4 {
    color: var(--main-color);
  }

  .event-active p{
    margin-bottom: 0;
    color: #000000;
  }

  .event-image{
    height: 420px !important;
    width: auto;
  }

  .event-image img{
    width: 100% !important;
  }

  .image-container a {
    margin-top: 15px;
    text-decoration: none;
    font-family: var(--main-font);
    color: black;
  }

  .image-container a.galery-btn::after {
    content: '';
    display: block;
    width: 70px;
    height: 5px;
    background-color: var(--main-color);
    margin-top: 5px;
  }

  @media (max-width: 480px){
    .selector-rp h4{
        border-right: none;
        font-size: 18px !important;
    }

    .event-image{
      height: auto !important;
      width: auto;
    }
  }


