/** Grayscale Signature **/
@font-face {
	font-family: 'Conv_Grayscale Signature';
	src: url('../fonts/Grayscale Signature.eot');
	src: local('☺'), url('../fonts/Grayscale Signature.woff') format('woff'), url('../fonts/Grayscale Signature.ttf') format('truetype'), url('../fonts/Grayscale Signature.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** Spartan-Bold **/
@font-face {
	font-family: 'Conv_Spartan-Bold';
	src: url('../fonts/Spartan-Bold.eot');
	src: local('☺'), url('../fonts/Spartan-Bold.woff') format('woff'), url('../fonts/Spartan-Bold.ttf') format('truetype'), url('../fonts/Spartan-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** Spartan-SemiBold **/
@font-face {
	font-family: 'Conv_Spartan-SemiBold';
	src: url('../fonts/Spartan-SemiBold.eot');
	src: local('☺'), url('../fonts/Spartan-SemiBold.woff') format('woff'), url('../fonts/Spartan-SemiBold.ttf') format('truetype'), url('../fonts/Spartan-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** Spartan-Regular **/
@font-face {
	font-family: 'Conv_Spartan-Regular';
	src: url('../fonts/Spartan-Regular.eot');
	src: local('☺'), url('../fonts/Spartan-Regular.woff') format('woff'), url('../fonts/Spartan-Regular.ttf') format('truetype'), url('../fonts/Spartan-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** Spartan-Medium **/
@font-face {
	font-family: 'Conv_Spartan-Medium';
	src: url('../fonts/Spartan-Medium.eot');
	src: local('☺'), url('../fonts/Spartan-Medium.woff') format('woff'), url('../fonts/Spartan-Medium.ttf') format('truetype'), url('../fonts/Spartan-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
 

/** Spartan-Thin **/
@font-face {
	font-family: 'Conv_Spartan-Thin';
	src: url('../fonts/Spartan-Thin.eot');
	src: local('☺'), url('../fonts/Spartan-Thin.woff') format('woff'), url('../fonts/Spartan-Thin.ttf') format('truetype'), url('../fonts/Spartan-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

