/************************************************
 * Project: Marina Puerto Cancún
 * Page: Microsite
 * Methodology: Mobile First
 * Created_at: 2020-11-05
 * **********************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: #000;
    color: #fff;
}
/** Estilos sección pricipal - Componente Microsite */
.microsite {

}
.microsite__container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2rem;
}
.microsite__image {
    width: 1200px;
    height: auto;
    max-width: 100%;
    display: block;
}
@media screen and (min-width: 900px) {
    .microsite__container {
        padding: 0;
    }
}
