/****************************************************************************************************/
/*Full Screen Search Module*/

/*Navegacion*/
#fullscreen-search {
  padding-right: 0px !important;
}

.modal-content {
  background-color: #EDEDED;
}

.modal-header {
  border: none;
}

.modal-header img {
  max-height: 260px;
  max-width: 240px;
  flex: 0 0 100%;
}

/*********************************************************************/
/*Cuerpo de la busqueda*/

.modal-body {
  margin-top: 50px;
  flex: 0 0 auto;
}

.modal-dialog {
max-width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

.modal-content {
height: auto;
min-height: 100%;
border-radius: 0;
}

.modal-search-field{
max-width: 800px;
}

.modal-search-field div{
border-bottom: solid 3px var(--light-grey);
font-family: var(--bold-font);
}

.modal-search-field div input{
  padding: 0 5px;
  align-items: center;
  color: var(--light-grey);
  background-color: transparent;
  border: none;
  font-size: 20px;
  letter-spacing: 4px;
}

.modal-search-field div input::-webkit-input-placeholder{
  text-align: center;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.modal-search-field div input:focus, .modal-search-field div input.form-control:focus {
outline:none !important;
outline-width: 0 !important;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
background-color: transparent;
}

.search-content p{
color: var(--light-grey);
font-family: var(--main-font);
}

.search-close {
height: 30px;
width: 100%;
text-align: right;
}

.search-close button.close{
float: none;
font-size: 14px;
}

.result {
margin-bottom: 30px;
}


/*Scrollbar*/
.result-search{
  height: 480px;
  overflow-y: scroll;
}

.result-search::-webkit-scrollbar {
  width: 2px;
}


.result-search::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}


.result-search::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}