/** Contenedor Popup */
.promotion {
    display: none;
    padding: 0 !important;
    background-color: transparent !important;
}
.promotion--mobile {
    display: none;
    padding: 0 !important;
    background-color: transparent !important;
}
/** Link Popup */
.promotion__link {
    display: block;
}
.promotion__link--mobile {
    display: block;
}
/** Imagen Popup */
.promotion__image {
    width: 500px;
    height: 500px;
    display: block;
    max-width: 100%;
}
.promotion__image--mobile {
    width: 350px;
    height: 500px;
    display: block;
    max-width: 100%;
}
/** Botón cerrar Popup */
.promotion--mobile .fancybox-button.fancybox-close-small,
.promotion .fancybox-button.fancybox-close-small {
    background-color: white;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    color: red;
    padding: 5px;
    opacity: 1;
    transition: all .1s;
}
.promotion--mobile .fancybox-button.fancybox-close-small:hover,
.promotion .fancybox-button.fancybox-close-small:hover {
    opacity: 1;
    background-color: red;
    color: #fff;
}
/** Fix: Eliminar el efecto de focus sobre el elemento popup - Fancybox */
.promotion__image--mobile:focus, .promotion__link--mobile:focus,
.promotion__image:focus, .promotion__link:focus {
    outline: none !important;
}
