/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .header .menu{
        display: none !important;
    }
    .icon-dir img{
        left: 10px;
      }
    .navbar-nav{
        padding-top: 20px;
    }
    .nav-item{
        border-bottom: 1px solid #efefef;
    }
    .text-signature {
        font-size: 1.5rem;
    }
    .title-info{
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        margin: 10px;
    }
    .subtitle-info{
        top: 26%;
    }
    .text-info-deco {
        position: relative;
        font-size: 2.2rem;
        text-align: center;
    }
    .input-suscribe, .btn-suscribe{
        width: 250px;
    }
    .title-section h2 {
        font-size: 2rem;
        margin-bottom: 5px;
    }
    .title-section span {
        font-size: 4rem;
        top: -30px;
    }
    .text-info-section img{
        margin: 0 auto;
    }

    .block-footer h1 {
        font-size: 2.5rem !important;
        text-align: center;
      }

    .block-footer .menu div{
        border-right: none !important;
    } 

    .store-title {
        font-size: 44px !important;
    }

    .text-info-deco {
        font-size: 1rem;
        left: 0;
        top: 0 !important;
    }

    .navbar-collapse {
        height: 100vh;
    }

    .navbar-collapse .search-button{
        margin-bottom: 0!important;
        padding-bottom: 0 !important;
        padding-top: 1rem !important;
    }

    .navbar-collapse .search-button h5{
        color: var(--light-grey) !important;
        font-size: 15px !important;
        font-family: 'Conv_Spartan-Bold';
    }
    .navbar-collapse .search-button p{
        color: var(--light-grey) !important;
        font-size: 0.9rem;
        letter-spacing: normal;
    }

    .navbar-collapse .search-button .line-search{
        background: var(--light-grey);
        width: 90% !important;
    }

    .navbar-collapse .item-menu a{
        font-family: var(--bold-font);
        font-size: 15px !important;
        padding-bottom: 2rem !important;
    }

    .modal-body {
        margin-top: 0 !important;
    }

    .navbar-collapse .concierge-menu-responsive a p{
        font-size: 12px !important;
        font-family: var(--bold-font) !important;
        letter-spacing: normal;
    }

    .thor2go-image img{
        max-width: 80% !important;
    }



 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .menu, .menu a {
        font-size: 0.75em;
        letter-spacing: 3px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .menu, .menu a {
        font-size: 0.8em;
        letter-spacing: 5px;
    }
    .subtitle-info{
        top: 30%;
        font-size: 6.5rem;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container{
        max-width: 1380px !important;
    }
    .text-info-section{
        position: absolute;
        top: 40%;
        width: 50%;
        left: 550px;
    }
    .title-info{
        font-size: 5rem;
        top: -105px;
        left: -40px;
    }
    .subtitle-info{
        top: 30%;
        font-size: 7rem;
    }
    .text-info-deco{
        font-size: 3rem;
    }
    .title-section > h2 {
        font-size: 5rem;
    }
    .menu, .menu a {
        font-size: 0.88em;
        letter-spacing: 6px;
    }
    #navbar-header > .menu, #navbar-header .menu a {
        font-size: 0.88em;
        letter-spacing: 5px;
    }
 }

/* FHD devices (FHD desktops, 1800px and up) */
@media (min-width: 1400px) { 
    .menu, .menu a {
        font-size: 1em;
        letter-spacing: 7px;
    }

    .navbar a {
        font-size: 0.9em;
        letter-spacing: 5px;
    }

    .text-info-section {
        max-width: 900px;
    } 

    .subtitle-info{
        top: 30%;
        font-size: 8.5rem;
    }
 
 }


 /* Hack text align */
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}