/****************************************************************************************************************/
/*Tienda Contenido Principal*/

.subtitle-info {
    position: absolute;
    font-family: var(--semibold-font);
    font-size: 12.5vw;
    text-align: center;
    top: 22%;
    color: rgba(149, 149, 149, 0.4);
    opacity: 0.3;
    z-index: 1;
    pointer-events: none;
  }

@media (min-width: 768px){   
    .grid-boutique div.store-img{
        flex: 0 0 calc(40% - 15px);
    }
}

.store-principal-section .container {
    margin-top: 40px;
    padding-bottom: 30px;
}

@media (min-width: 768px){
    .return-button {
        justify-content: flex-end !important;
        margin-bottom: 10px;
    }
}

.return-button a {
    color: #353535;
    text-decoration: none;
    font-size: 18;
    margin-bottom: 10px;
}

.store-img img{
    min-width: 427px;
}

@media (max-width: 480px){

    .store-img{
        padding: 0;
    }
    .store-img img{
        width: 100% !important;
    }
}

.store-content h3{
    font-family: var(--bold-font);
    font-size: 20px;
    line-height: 2;
    margin-top: 35px;
}

.store-info p{
    font-family: var(--main-font);
    font-size: 29px;
}

.store-title {
    font-family: var(--semibold-font);
    font-size: 74px;
}
.store-title::after {
    margin-top: 15px;
    content: '';
    display: block;
    height: 5px;
    background-color: var(--main-color);
    width: 60px;
}

.store-available img{
    max-width: 250px;
    margin-left: 20px;
}

.store-content p{
    font-family: var(--main-font);
}

.store-info div p{
	font-size: 1.1rem !important;
}
