/******** FONTS GLOBALS ********/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {

  /*Colores*/
  --main-color: #FA3F83;
  --light-main-color: #fc498a;
  --light-grey: #959595;
  --dark-grey: #272727;
  --title-info-color: #eaeceb;
  --grey-bgr: #E3E3E3;

  --decoration-font: 'Conv_Grayscale Signature';
  --main-font: 'Conv_Spartan-Regular';
  --bold-font: 'Conv_Spartan-Bold';
  --semibold-font: 'Conv_Spartan-SemiBold';
  --medium-font: 'Conv_Spartan-Medium';

}

*, *::after, *::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  color: inherit;
}
p b {
  font-family: var(--semibold-font);
  color: inherit;
}
a:hover, a:active{
  color: var(--main-color);
  text-decoration: none;
}
h1,h2{
  font-family: var(--bold-font);
}
h3{
  font-family: var(--semibold-font);
}
h4,h5,h6{
  font-family: var(--medium-font);
  
}
time{
  font-family: 'Open Sans', sans-serif;
  color: var(--light-grey);
}

/******** HEADER ********/
 
.header{
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.main-header{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.side-header{
  height: 50vh;
}

.bottom-header{
  position: absolute;
  bottom: 20px;
  width: 100%;
  min-height: 20px;
}
 

.header-address{
  position: absolute;
  left: 35px;
}

.header-address a{
  font-family: var(--semibold-font);
  font-size: 0.6em;
  color: #ffffff;
}

.header-address a:hover {
  color: var(--main-color);
  cursor: pointer;  
}

.search-button{
  width: 100%;
  max-width: 800px;
  text-align: center;
  transition: 0.3s;
  margin: 0 auto;
  cursor: pointer;
}

.search-button p{
  color:#ffffff;
  font-size: 0.8rem;
}
.search-button h5{
  font-family: var(--semibold-font);
  color:#ffffff;
  font-size: 0.9em;
}

.search-button .line-search{
    height: 2px;
    background: #FFFFFF;
    width: 70%;
}

.header-concierge{
  position: absolute;
  right: 35px;  
  bottom: 45px;

}

.header-concierge p, .header-concierge a{
  font-family: var(--bold-font);
  font-size: 0.8em;
  color: #ffffff;
}
.header-concierge p:hover , .header-concierge a:hover{
  color: var(--main-color);
}


.concierge-icon {
  position: relative;
  top: -10px !important;
  left: 8px !important;
}

/******** MENU ********/

.menu, .menu a{
  font-family: var(--semibold-font);
  letter-spacing: 4px;
  font-size: 0.8em;
  transition: 0.3s;
}

.menu a.active{
  color: var(--main-color);
  text-decoration: none;
}
 
.menu .divider{
  font-family: 'Conv_Spartan-Thin';
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--light-grey);
}

.menu .item-menu a:hover{
  cursor: pointer;
  color: var(--main-color);
}
 
/******** NAVBAR ********/

.navbar {
  position: fixed;  
  top: -75px;  
  width: 100%;  
  transition: top 0.3s;  
  z-index: 10;
}
.navbar a {
  /*float: left;*/
  display: block;
  color: #272727;
  text-align: left;
  text-decoration: none;
}
.navbar a:hover {
  color: var(--main-color);
}
.navbar .icon-search{
  margin-top: -4px;
}

.navbar-toggler>.close {
  display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display:none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover{
  border: none !important;
  outline: none !important;
}




/******** GLOBALS ********/
.info-page{
  overflow: hidden;
}
.title-info {
  font-family: var(--decoration-font);
  font-size: 2rem;
  color: var(--main-color);
  position: absolute;
  top: -35px;
  left: -4px;
  font-weight: bold;
} 
.text-info-section {
  z-index: 1;
}
.subtitle-info{
  overflow: hidden;
  position: absolute;
  font-family: var(--semibold-font);
  font-size: 9vw;
  width: 100%;
  height: auto;
  min-height: 80px;
  text-align: center;
  left: 0;
  top: 22%;
  color: var(--title-info-color);
  opacity: 0.5;
  z-index: 0;
  pointer-events: none;
}
.title-section{
  display: block;
  position: relative;
  padding-top: 5em;
  padding-bottom: 1em;
}

.title-section h2{
  font-family: var(--decoration-font) !important;
  font-size: 3.8vw;
  color: var(--main-color);
  margin-bottom: -5px;
  font-weight: bold;
}
.title-section span{
  position: absolute;
  overflow: hidden;
  font-family: var(--semibold-font);
  font-size: 9vw;
  width: 100%;
  height: auto;
  min-height: 80px;
  text-align: center;
  color: var(--title-info-color);
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
}

.text-info-deco {
  position: absolute;
  font-family: var(--semibold-font);
  font-size: 1.3rem;
  color: #000000;
  left: 0;
  top: 45%;
  z-index: 1;
}
.btn-mark{
  background: var(--main-color);
  padding: 17px 0px 17px 0px;
  color: white;
  border-radius: 0;
  letter-spacing: 3px;
  font-family: var(--medium-font);
  font-size: 0.8em;
  text-decoration: none;
  max-width: 250px;
  width: 45%;
}
.btn-mark:hover{
  text-decoration: none;
  color: #ffffff;
  background: var(light-main-color);
}
.text-signature{
  font-family: var(--decoration-font);
  font-size: 2.5rem;
  color: var(--main-color);
}

.cycle-slideshow{
  z-index: 0;
}
/******** STORES ********/

.letter-filter {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.letter-filter span{
  flex: 0 0 calc(33%);
  font-family: var(--main-font);
  font-size: 14px;
  margin-bottom: 5px;
}

.letter-filter span:hover{
  font-family: var(--bold-font);
  color: var(--main-color);
  cursor: pointer;
}
.letter-filter span.active, .filter-content li a.active, h2 span#filter-all.active{
  font-family: var(--bold-font);
  color: var(--main-color);
  pointer-events: none;
}

.letter-filter span:last-of-type{
  margin-right: 0;
}

.btn.focus, .btn:focus{
  box-shadow: none !important;
}


/******** FOOTER ********/
.bar-footer{
  width: 100%;
  height: 50px;
  background-image: url('../images/bar-footer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.block-footer{
  background: --grey-bgr;
}
.block-footer .title-dir{
  font-size: 0.85rem;
  font-family: var(--bold-font);
}

.block-footer .menu a{
  font-size: 0.8rem;
}

.block-footer h1 {
  font-size: 3.7rem;
  font-family: var(--main-font);
}
 
.icon-dir img{
  width: 20px;
  position: absolute;
  left: 30px;
}

.privacy-text{
  color: var(--light-grey);
}

p.tel-number a:hover{
  cursor: pointer !important;
  color:  var(--main-color) !important;
}


.social-landmark a:hover{
  color: var(--main-color) !important;
}

.social-thor a:hover{
  color: orange !important;
}


/******** NEWSLETTER ********/

.input-suscribe{
  background: #EFEFEF;
  padding: 15px 15px 17px 30px;
  border-radius: 0;
  border: 0;
}
.input-suscribe, .btn-suscribe{
  width: 45%;
  max-width: 250px;
}

#newsletter .text-signature{
  margin-bottom: 20px;
}


/*********Filters***********/

.filterSubCategories.container{
  max-width: 950px !important;
}

.filterSubCategories h2{
  font-family: var(--medium-font);
  font-size: 20px;
  margin-bottom: 15px;
}

h2 span#filter-all.active{
  font-family: var(--bold-font);
  color: var(--main-color);
  pointer-events: none;
}

h2 span#filter-all:hover{
  cursor: pointer;
  color: var(--main-color);
}

.filterSubCategories h2::after{
  content: '';
  display: block;
  background-color: var(--main-color);
  height: 3px;
  width: 60px;
  margin-top: 5px;
}
.filterSubCategories ul{
  padding: 0;
}

.filterSubCategories ul li{
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-size: 18px
}

.filterSubCategories h3{
  margin-bottom: 0;
  margin-top: 7px;
}

.btn-filter{
  background-color: var(--main-color);
  color: white;
  text-align: center;
  font-family: var(--main-font);
  padding: 10px 20px;
  font-size: 18px;
}

.btn-filter:hover{
  cursor: pointer;
}

.filter-content div div li a:hover{
  color: var(--main-color);
  cursor: pointer;
}

.filter-content div div li a{
  font-family: var(--main-font);
  font-size: 18px
}

video{
  position: absolute;
  width: 100vw !important;
  height: 100vh;
  z-index: -100;
  object-fit: cover;
  overflow: hidden;
}


/*Servicios*/

.concierge-button {
  max-width: 300px !important;
}

.concierge-button h2{
  font-family: var(--decoration-font);
  font-size: 35px;
  color: var(--main-color);
}

#services h4 {
  max-width: 900px;
  text-align: center;
  font-size: 20px;
}

#services h4 a{
  color: var(--main-color);
}

#services p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: var(--main-font);
  font-size: 16px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.service-icon {
  width: 60px;
  height: 60px;
}