





/********** MENU BANNER ********/
/*.link-group, .submenu {
    display: flex ;
    flex-direction: column;
}*/

#navbar .submenu {
    padding-left: 2rem;
}

@media screen and (min-width: 768px) {
    .submenu {
        position: absolute;
        background-color: var(--main-color);
        left: 0;
        right: 0;
        top: 24px;
        display: none;
    }
    .item-submenu {
        display: block;
        padding: 0 1rem;
        margin: 1.5rem 0;
        font-size: .7rem !important;
        text-align: left !important;
        letter-spacing: 1px !important;
        color: #fff !important;
    }
    .item-submenu:hover {
        color: #f7f7f7 !important;
    }
    #navbar .submenu {
        padding-left: 0rem;
    }
    .navbar a {
        text-align: center;
    }
}
/********** END MENU BANNER ********/

/********** INFORMATION ********/
.information {
    position: relative;
    text-align: center;
    padding: 6rem 0;
}
.information-lg {
    padding: 6rem 0;
}
.information .information-title {
    position: absolute;
    z-index: 1;
    top: 47% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    font-family: var(--decoration-font);
    font-size: 6.5vw;
    width: 100%;
    color: var(--main-color);
}
.information .information-subtitle {
    position: static !important;
    overflow: hidden;
    font-family: var(--semibold-font);
    font-size: 7.5vw;
    width: 100%;
    height: auto;
    color: var(--title-info-color);
    opacity: 0.5;
    pointer-events: none;
    line-height: 1.1;
}
.information-lg .information-subtitle {
    font-size: 7.5vw;
}
.information .information-separator {
    position: relative;
    top: .5rem;
}
.information-lg .information-separator {
    top: .5rem;
}
@media screen and (min-width: 576px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {
    .information {
        padding: 10rem 0 9.5rem;
    }
    .information-lg {
        padding: 6.5rem 0;
    }
    .information .information-title {
        top: 50% !important;
        font-size: 6vw;
    }
    .information .information-subtitle {
        min-height: 80px;
    }
    .information .information-separator {
        top: 1.5rem;
    }
}
@media screen and (min-width: 1200px) {
    .information-lg .information-separator {
        top: -1.5rem;
    }
    .information-lg .information-subtitle {
        font-size: 12vw;
    }
}
    /********** END INFORMATION ********/


/********** DATA SHEET ********/
.datasheet {
    margin-bottom: 15rem;
}
.datasheet.datasheet--deptos {
    margin-bottom: 4rem;
}
.datasheet.datasheet--deptos--margin {
    margin-top: 8rem;
}
.datasheet.last {
    margin-bottom: 13rem;
}
.datasheet.no-margin-button {
    margin-bottom: 5rem;
}
.datasheet * {
    font-family: var(--main-font);
    font-size: 1rem;
    line-height: 1.6;
}
.datasheet .datasheet-title h4 {
    font-family: var(--medium-font);
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.datasheet-title--depto {
    font-size: 3rem;
    font-family: var(--semibold-font);
    color: var(--main-color);
    line-height: 1.25;
    margin-bottom: 2rem;
}
.datasheet-title--depto sup {
    font-size: 1.5rem;
    position: relative;
    top: -2rem;
    font-family: var(--semibold-font);
}
.datasheet .datasheet-title img {
    margin-bottom: 2rem;
    display: block;
}
.datasheet .datasheet-img-title {
    display: block;
    margin-bottom: 2.8rem;
}
.datasheet .datasheet-title.datasheet-title--more {
    margin-top: 7rem;
}
.datasheet .datasheet-title {
    margin-bottom: 1.5rem;
}
.datasheet .datasheet-body {
    margin-bottom: 3.5rem;
}
.datasheet .datasheet-body p {
    margin-bottom: 1.8rem;
}
.datasheet .datasheet-body img {
    display: block;
    margin: 2.8rem 0 1.8rem;
}
.datasheet .datasheet-body .datasheet-photo {
    margin: 4rem 0 3.5rem;
}
.datasheet .datasheet-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}
.datasheet .datasheet-links a {
    color: var(--main-color);
    text-decoration: underline;
    font-family: var(--bold-font);
    display: inline-block;
}
.datasheet .datasheet-links.datasheet-links--orange a {
    color: orange;
}
.datasheet .datasheet-links a:hover {
    text-decoration: underline;
}
.datasheet .datasheet-table {
    border-collapse: separate;
    border-spacing: .5rem 0;
    margin-top: 2.5rem;
}
.datasheet .datasheet-table tr:nth-child(odd) {
    background-color: rgba(149,149,149,.07);
}
.datasheet .datasheet-table tr:nth-child(even) {
    background-color: rgba(149,149,149,.03);
}
.datasheet .datasheet-table td {
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.datasheet .datasheet-table sup {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.datasheet .datasheet-body .datasheet-map {
    margin: 0 0 3.5rem;
}
.datasheet-list-icons--social {
    margin-left: 4.8rem;
}
.datasheet-list-icons--social h5 {
    font-family: var(--semibold-font) !important;
}
.datasheet .datasheet-list-icons {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}
.datasheet .datasheet-list-icons p {
    margin: 0;
}
.datasheet .datasheet-list-icons h5,
.datasheet .datasheet-list-icons h4 {
    font-family: var(--semibold-font);
}
.datasheet .datasheet-list-icons img {
    margin: 0 3rem 0 0;
    height: 2.5rem;
}
.datasheet .datasheet-list-icons  .icon-direction {

}
.datasheet .datasheet-list-icons  .icon-telephone {
    margin-right: 3.3rem;
}
.datasheet .datasheet-list-icons  .icon-mail {
    height: 2rem;
    margin-right: 2.8rem;
}
.datasheet .container-iframe {
    margin-top: 5.5rem;
}
.datasheet-tabs {
    margin-bottom: 3rem;
}
.datasheet-tabs * {
    display: block;
    font-family: var(--medium-font);
    font-size: 1rem;
}
.datasheet-tabs a {
    height: 5rem;
}
.datasheet-tabs .d-flex a:first-child {
    margin-right: 3rem;
}
.datasheet-tabs a span {
    text-align: center;
}
.datasheet-tabs a img {
    display: none;
}
.datasheet-tabs a.active img {
    display: block;
    margin: 0 auto;
}
.datasheet-tabs a.active {
    color: var(--main-color);
}
[data-infodepto] {
    display: none;
}
[data-infodepto].active {
    display: flex;
}
.datasheet--deptos li {
    margin-bottom: .8rem;
}
.datasheet-list--pink li, .datashet-text--pink {
    color: var(--main-color);
    margin-bottom: .8rem;
}
.datasheet-mb--regular {
    margin-bottom: 10rem;
}
.datasheet-mt--regular {
    margin-top: 10rem;
}
.datasheet .datasheet-text--decoration {
    position: relative;
    margin-bottom: 4.5rem !important;
}
.datasheet-text--decoration::after {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    height: 5px;
    width: 50px;
    left: 0;
    bottom: -1.4rem;
}
.datasheet-map-bg {
    background-color: var(--grey-bgr);
}
.datasheet-figure {
    position: relative;
}
.datasheet-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border-radius: 50%;
}
@media screen and (min-width: 576px) {
    .datasheet .datasheet-title h4 {
        font-size: 1.8rem;
    }

    .datasheet-tabs a {
        height: 4rem;
    }
}
@media screen and (min-width: 768px) {
    .datasheet-tabs a span {
        text-align: left;
        font-size: 1.3rem;
    }
    .datasheet-tabs a.active img {
        margin: 0;
    }
    .datasheet .datasheet-links {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1200px) {
    .datasheet * {
        font-size: 1.1rem;
    }
    .datasheet-tabs a span {
        font-size: 1.6rem;
    }
    .datasheet .datasheet-table {
        position: relative;
        left: -10px;
    }
    .datasheet-title--depto {
        font-size: 4.5rem;
    }
    .datasheet-title--depto sup {
        font-size: 2rem;
    }
}
/********** END DATA SHEET ********/


/********** FORM ********/
.form {

}
.form label {
    font-family: var(--semibold-font);
    font-size: 1.1rem;
}
.form label span {
    font-family: var(--semibold-font);
    font-size: 1.4rem;
}
.form input {
    font-family: var(--main-font);
    background-color: rgba(149,149,149,.13);
    border: transparent;
}
.form input:focus {
    background-color: rgba(149,149,149,.20);
}
.form select {
    font-family: var(--main-font);
    background-color: rgba(149,149,149,.13);
    border: transparent;
}
.form select:focus {
    background-color: rgba(149,149,149,.20) !important;
}
.form button {
    padding: .6rem 2rem !important;
    background-color: var(--main-color) !important;
    margin-top: 1rem;
    color: #fff !important;
    font-size: .9rem !important;
    transition: background-color .3s;
    width: 160px;
    border-radius: 0;
}
.form button:hover {
    /*background-color: #fa32d8 !important;*/
}
.form .invalid-feedback {
    font-size: .8rem;
    font-family: var(--medium-font);
}
.form .form-loading {
    height: 1.4rem;
    display: inline-block;
    margin-right: .2rem;
    position: relative;
    top: -1px;
    display: none;
}
/********** END FORM ********/


/********** IFRAME ********/
.video-tijuana {
    display: block !important;
    position: static;
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
    z-index:0;
    object-fit: cover !important;
    overflow: auto !important;
}
.container-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.title-iframe {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 17%;
    color: #fff;
    font-size: 3vw;
    font-family: var(--medium-font);
    text-align: center;
}
.sombra-iframe {
    position: absolute;
    z-index: 1;
    top: -60px;
}
/********** END IFRAME ********/

/********** MYCARD ********/
.mycard {
    padding: 3rem 0;
}
.mycard .container {
    position: relative;
}
.mycard-watermark {
    overflow: hidden;
    position: absolute;
    font-family: var(--semibold-font);
    font-size: 9vw;
    width: 100%;
    height: auto;
    min-height: 80px;
    text-align: center;
    left: 0;
    top: 26%;
    color: var(--title-info-color);
    opacity: 0.5;
    z-index: 0;
    pointer-events: none;
}
.mycard-watermark--sm {
    font-size: 7vw;
}
.mycard-brand {
    font-family: var(--semibold-font);
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
}
.mycard-description {
    text-align: center;
}
.mycard-title {
    font-family: var(--decoration-font);
    font-size: 2.5rem;
    color: var(--main-color);
    position: relative;
    top: 1.5rem;
    margin-bottom: 2rem;
}
.mycard-background {
    background-image: url("../images/tijuana/edificio.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.mycard-title-alternative {
    position: relative;
    margin-bottom: 3.2rem;
    font-size: 1.2rem;
    text-align: center;
}
.mycard-title-alternative:nth-of-type(2) {
    margin-top: 2rem;
}
.mycard-title-alternative::after {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    height: 5px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.4rem;
}
.mycard-title-alternative + p {
    font-family: var(--main-font);
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.mycard-description p {
    font-family: var(--main-font);
    font-size: 1rem;
    margin-bottom: 1rem;
}
.mycard-description h5 {
    margin: 2rem 0;
}
.mycard-description li {
    font-family: var(--main-font);
    font-size: 1rem;
    margin-bottom: .7rem;
    text-align: left;
}
.mycard-links a {
    color: var(--main-color);
    text-decoration: underline;
    font-family: var(--bold-font);
    display: inline-block;
}
@media screen and (min-width: 576px) {
.mycard-watermark {
    top: 17%;
}
.mycard-brand {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    text-align: right;
}
.mycard-title {
    text-align: left;
}

}
@media screen and (min-width: 768px) {
.mycard-description {
    text-align: left;
}
.mycard-title-alternative {
    text-align: left;
}
.mycard-title-alternative::after {
    left: 0;
    transform: translateX(0%);
}
.mycard-title-alternative:nth-of-type(2) {
    margin-top: 3rem;
}
.mycard-title-alternative + p {
    margin-bottom: 1.7rem;
    text-align: left;
}
}
@media screen and (min-width: 992px) {
.mycard-background {
    background-image: none;
}
}
@media screen and (min-width: 1200px) {
.mycard {
    padding: 7.5rem 0;
}
.mycard:nth-child(2),
.mycard:nth-child(4){
    padding-top: 0;
}
.mycard-brand {
    font-size: 3.5rem;
    text-align: right;
}
.mycard-watermark {
    top: 22%;
}
.mycard-description {
    margin-top: 2.5rem;
    position: relative;
    left: -8rem;
    width: calc(100% + 8rem);
    text-align: left;
}
.mycard-title {
    font-family: var(--decoration-font);
    font-size: 4rem;
    color: var(--main-color);
    position: relative;
    top: 1rem;
    margin-bottom: 1.5rem;
}
.mycard-title-alternative {
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
}
.mycard-title-alternative:nth-of-type(2) {
    margin-top: 5.5rem;
}
.mycard-title-alternative + p {
    font-size: 1.1rem;
}
.mycard-description p {
    font-family: var(--main-font);
    font-size: 1.1rem;
    margin-bottom: 1.7rem;
}
.mycard-description li {
    font-size: 1.1rem;
    margin-bottom: .8rem;
}
    .mycard-links a {
        font-size: 1.1rem;
    }
}
/********** END MYCARD ********/


/********** NOVELTY ********/
.novelty {
    margin-bottom: 6rem;
    cursor: pointer;

}
.novelty-container {
    position: relative;
    margin-bottom: 3rem;
    overflow: hidden;
}
.novelty-image {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.novelty-description {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    font-size: .9rem;
    line-height: 1.7;
    margin: 0;
    transition: all .6s;
    overflow: hidden;
}
.novelty:hover .novelty-description {
    top: 0;
}
.novelty:hover .novelty-title:after  {
    opacity: 1;
}
.novelty-title {
    font-family: var(--medium-font);
    font-size: 1.2rem;
}
.novelty-title:after {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    height: 5px;
    width: 50px;
    left: 15px;
    bottom: 5rem;
    opacity: 0;
}
/********** END NOVELTY ********/


/********** SLICK ********/
#slick-live {
    overflow: hidden;
}
#slick-live .slick-prev.slick-arrow {
    left: 1rem;
    z-index: 1;
}
#slick-live .slick-next.slick-arrow {
    right: 1rem;
    z-index: 1;
}
#slick-live .slick-prev:before,
#slick-live .slick-next:before {
    /*background-color: var(--main-color);*/
    font-size: 2rem;
    line-height: 1.7;
    font-family: 'Fontawesome';
    content: '\f054';
}
#slick-live .slick-prev:before {
    content: '\f053';
}

#slick-live .slick-prev,
#slick-live .slick-next {
    height: 50px;
    width: 50px;
    background-color: var(--main-color);
}
/********** END SLICK ********/

/********** LIGHTBOX 2 ********/
#lightboxOverlay { position: fixed !important; top: 0; left: 0; height: 100% !important; width: 100% !important; }
#lightbox { position: fixed !important; top: 50% !important; transform: translateY(-50%); }
#lightbox .lb-dataContainer {
    margin-bottom: 1rem;
}
#lightbox .lb-close {
    background: none;
    position: relative;
    background-color: var(--main-color);
}
#lightbox .lb-data {
    padding: 0;
}
#lightbox .lb-close:after {
    position: absolute;
    color: white;
    font-family: 'Fontawesome';
    content: '\f00d';
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/********** END LIGHTBOX ********/


/********** MODAL ********/

.modal--dialog {
    width: 100% !important;
    max-width: 960px !important;
    margin: 0 auto !important;
    height: auto !important;
}
.modal--content {
    background-color: #fff !important;
    /*min-height: inherit; !important;*/
}
.modal--header {

}
.modal--body {
    padding: 1rem 2rem 3rem;
}
.modal--depto .close {
    opacity: 1;
    color: #fff;
    background-color: var(--main-color);
    padding: .5rem .8rem;
    margin: 0 0 0 auto;
}
.modal--depto .datasheet-title--depto {
    font-size: 2rem;
    margin: 0;
    margin-right: 2rem;
}
.modal--depto .datasheet-title--depto sup {
    font-size: 1rem;
    top: -1rem;
}
.modal--depto .datasheet-body li {
    font-family: var(--main-font);
    font-size: .8rem;
    margin-bottom: .3rem;
}
.modal--depto .datasheet-body ul {
    margin: 0;
    padding: 0;
    width: 50%;
}
.modal--depto .datasheet-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.modal--depto .datasheet-img-modal {
    margin: 2rem auto 0;
}
@media screen and (min-width: 768px) {
    .modal--depto .datasheet-title--depto {
        margin-bottom: 2rem;
    }
    .modal--depto .datasheet-body {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .modal--depto .datasheet-img-modal {
        margin: 0 auto;
    }
    .modal--depto .datasheet-body ul {
        padding-left: 1rem;
        width: 100%;
    }
}
@media screen and (min-width: 992px) {
    .modal--depto .datasheet-title--depto {
        font-size: 3rem;
    }
    .modal--depto .datasheet-title--depto sup {
        font-size: 1.5rem;
        top: -2rem;
    }
    .modal--depto .datasheet-body li {
        font-family: var(--main-font);
        font-size: 1.1rem;
        margin-bottom: .5rem;
    }
}
/********** END MODAL ********/

/********** MAPPING ********/
.mapping {
    position: relative;
}
.mapping-link {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
}
.mapping-icon {
    background-color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.mapping-link i {
    line-height: .5;
    font-size: 1.5rem;
    color: var(--main-color);
    transition: all 1s;
}
.mapping-link:hover i {
    transform: scale(1.2);
}
.mapping-link--1 {
    top: 20%;
    left: 20%;
}
.mapping-link--2 {
    top: 20%;
    left: 40%;
}
.mapping-link--3 {
    top: 20%;
    left: 60%;
}
.mapping-link--4 {
    top: 20%;
    left: 80%;
}
.mapping-link--5 {
    top: 50%;
    left: 20%;
}
.mapping-link--6 {
    top: 50%;
    left: 80%;
}
.mapping-link--7 {
    top: 75%;
    left: 20%;
}
.mapping-link--8 {
    top: 75%;
    left: 40%;
}
.mapping-link--9 {
    top: 75%;
    left: 60%;
}
.mapping-link--10 {
    top: 75%;
    left: 80%;
}

.mapping-link--PH1{
    top: 20%;
    left: 40%;
}
.mapping-link--PH2 {
    top: 50%;
    left: 20%;
}
.mapping-link--PH3{
    top: 75%;
    left: 60%;
}
.mapping-link--PH4 {
    top: 50%;
    left: 80%;
}
.mapping-pulse {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    background-color: rgba(0,0,0,.7);
}
@keyframes pulse {
    0% {
        transform: scale(.8);
        opacity: .8;
    }
    80% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
/********** END MAPPING ********/


/********** SWEET ALERT ********/
.swal2-popup {
    border-radius: 0 !important;
}
.swal2-title {
    font-family: var(--semibold-font);
}
.swal2-html-container {
    font-family: var(--main-font);
}
.swal2-styled.swal2-confirm {
    border-radius: 0 !important;
    font-family: var(--main-font);
    padding: .6rem 2rem !important;
    background-color: var(--main-color) !important;
    color: #fff !important;
    font-size: .9rem !important;
    transition: background-color .3s;
    width: 160px;
}

/********** END SWEET ALERT ********/

.block-footer h4 {
    font-size: 2.2rem;
    font-family: var(--main-font);
}
@media screen and (min-width: 320px) {
    .block-footer h4 {
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 414px) {
    .block-footer h4 {
        font-size: 3.7rem;
    }
}

/*@media screen and (min-width: 1200px) {
    .datasheet .padding {
        padding: 0 8rem;
    }
}*/